#  Игнорировать папку node_modules
node_modules/

# Игнорировать папку dist
dist/

# Игнорировать папку history
history/

# Игнорировать файлы сборки
*.log
*.lock
*.tmp

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать файлы с секретами
.env


